body {
    font: 300 18px "Roboto Condensed", sans-serif;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all linear 300ms;
}

.navbar-default .navbar-nav > li >  a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:focus {
    color: black;
    background-color: inherit;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover {
    color: rgba(255, 0, 0, 0.7) !important;
    background-color: inherit;
}

.navbar-transparent {
    padding-top: 15px;
    border-bottom: 1px solid transparent;
    background-color: transparent;
}

.navbar-default .navbar-nav > li >  a {
    color: #5e5e5e;
}

.cover {
    width: 100%;
    height: 100vh;
    min-height: 650px;
    background-image: url(https://ununsplash.imgix.net/photo-1427434846691-47fc561d1179?fit=crop&fm=jpg&h=700&q=75&w=1050);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.one-page {
    min-height: 100vh;
}

.container {
    padding: 15px 50px;
}

/*
#section1, #section2, #section3, #section4 {
    padding-top: 50px;
}

#section1 {
    background-color: #1E88E5;
}

#section2 {
    background-color: #673ab7;
}

#section3 {
    background-color: #ff9800;
}

#section4 {
    background-color: #00bcd4;
}
*/

#contact-us-map {
    height: 500px;
}

/* LINE SEPARATOR */
.separator-container {
    text-align: center;
    position: relative;
}

.separator-container .separator {
  color: #c5a47e;
  margin: 0 auto 1em;
  width: 11em;
}

.separator-container .separator.line-separator:before, .separator-container .separator.line-separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 12px;
  border: 1px solid #c5a47e;
}

.separator-container .separator.line-separator:before {
  float: left;
}
.separator-container .separator.line-separator:after {
  float: right;
}
/* END LINE SEPARATOR */

/* ANIMATIONS */
.add-animation {
    animation-name: slideOut;
    -webkit-animation-name: slideOut;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    opacity: 0;
}

.add-animation.animated {
    /* The name of the animation */
    animation-name: slideIn;
    -webkit-animation-name: slideIn;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    opacity: 1;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slideIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slideIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
}
@-webkit-keyframes slideOut {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
}
/* END ANIMATIONS */
