body {
    font: 300 18px "Roboto Condensed", sans-serif;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all linear 300ms;
}

.navbar-default .navbar-nav > li >  a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:focus {
    color: black;
    background-color: inherit;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover {
    color: rgba(255, 0, 0, 0.7) !important;
    background-color: inherit;
}

.navbar-transparent {
    padding-top: 15px;
    border-bottom: 1px solid transparent;
    background-color: transparent;
}

.navbar-default .navbar-nav > li >  a {
    color: #5e5e5e;
}

.one-page {
    min-height: 100vh;
}

/*
#section1, #section2, #section3, #section4 {
    padding-top: 50px;
}

#section1 {
    background-color: #1E88E5;
}

#section2 {
    background-color: #673ab7;
}

#section3 {
    background-color: #ff9800;
}

#section4 {
    background-color: #00bcd4;
}
*/
#section1 > img {
    width: 100%;
    height: 100vh;
}

#contact-us-map {
    height: 50vh;
}

/* ANIMATIONS */
.add-animation {
    opacity: 0;
}

.add-animation.animated {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    opacity: 1;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
