body {
    font: 300 18px "Roboto Condensed", sans-serif;
}

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    color: black;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: all linear 0.15s;
}

.navbar-nav li a {
    color: black;
}
